.bg { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-light .navbar-brand {
	margin-left: 85px;
}

.hidden {
	display: none;
}
.bg-login {
	width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0)
}

.bg-upload {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
    background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
    background: linear-gradient(-135deg,#c850c0,#4158d0)
}

.wp-login {
	background: #fff;
    border-radius: 10px;
    padding: 150px 70px;
}

.wp-upload {
	background: #fff;
    border-radius: 10px;
    padding: 90px 40px;
    margin-bottom: 50px;
}
.main-content {
	margin-top: 70px;
	padding: 0 60px;
}
.logo-login {
	padding: 20px;
}
.icon-login {
	text-align: center;
	margin-bottom: 30px;
}
.form-login {
	overflow: hidden;
}
.form-file {
	width: 50%;
    margin: 10px auto;
}
.icon-login img {
	width: 80px;
	display: block;
    margin: 15px auto;
}
.icon-login span {
	font-size: 18px;
	font-weight: bold;
}
.next-btn img {
	width: 35px;
	margin-top: 10px;
}

.text-center {
	text-align: center;
}
.text-center h1 {
	margin: 20px 0;
}
.text-center h4 {
	margin-top: 30px;
	margin-bottom: 10px;
}
.date {
	margin: 30px auto;
    width: 150px;
}
.wp-date-right {
	display: inline-block;
}
.day {
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
}
.year {
	display: block;
	text-align: left;
	font-size: 14px;
}
.month {
	display: block;
	text-align: left;
	font-size: 14px;
}
.btn-logout {
	margin: 5px auto;
	text-align: center;
}
.btn-upload {
	text-align: left;
}
.btn-logout img {
	
	width: 45px;
}

.report-card {
	background: #fff;
    border-radius: 8px;
    padding: 14px;
    
}
.report-sh {
	border: 1px solid #e8e8e8;
	-webkit-box-shadow: 1px 13px 24px -20px rgba(122,122,122,1);
	-moz-box-shadow: 1px 13px 24px -20px rgba(122,122,122,1);
	box-shadow: 1px 13px 24px -20px rgba(122,122,122,1);
}
.report-card h2 {
	position: relative;
	z-index: 2;
}

.report {
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  vertical-align: middle;
  overflow: hidden;
  margin-top: -35px;
  z-index: 1;
}

.report svg {
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -2px;
  width: 105%;
}

.report path {
  stroke-width: 6px;
}

.style1 {
	background: rgb(248,252,251);
	background: linear-gradient(0deg, rgba(248,252,251,1) 0%, rgba(204,239,233,1) 100%);
}

.style1 path {
  stroke: #21b99f;
}

.style2 {
	background: rgb(255,252,251);
	background: linear-gradient(0deg, rgba(255,252,251,1) 0%, rgba(255,206,196,1) 100%);
}

.style2 path {
  stroke: #ff591d;
}

.style3 {
 	background: rgb(255,254,250);
	background: linear-gradient(0deg, rgba(255,254,250,1) 0%, rgba(254,232,190,1) 100%);
}

.style3 path {
  	stroke: #f2b900;
}

#chartdiv {
 	width: 100%;
  	height: 500px;
}

.wp-chart {
	margin: 30px 0;
}
.datepicker {
	margin-right: 10px;
}

/*sidebar*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.hide {
  display: none;
}

.head-nav li:hover {
  background-color: #a9a9a9;
}
.head-nav li:hover:before {
  background-color: #a9a9a9;
}

.head-nav li:hover a {
  color: #ffffff;
}
.head-nav li:before {
  position: absolute;
  left: -0.925rem;
  top: 0;
  width: 0.925rem;
  height: 100%;
  content: "";
  background: #ED1C5B;
  z-index: 3;
  transition: background 400ms;
}
.head-nav ul {
  margin-top: 150px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.head-nav li {
  position: relative;
  clear: both;
  width: 100%;
  padding: 0;
  transition: background 400ms;
}
.head-nav li a {
  display: flex;
  padding: 10px 2px;
}
.head-nav a {
  align-items: center;
  width: 100%;
  color: #424242;
  text-decoration: none;
  transition: color 400ms;
}
.head-nav a span {
  position: relative;
  display: block;
  z-index: 0;
  font-family: Roboto;
  text-indent: -20em;
  white-space: nowrap;
  transition: text-indent 400ms ease-in-out;
}
.head-nav img {
  position: relative;
  max-width: 40px;
  z-index: 1;
  fill: #fefefe;
  /*background: #ED1C5B;*/
  transition: 400ms;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (max: 768px) {
  .head-nav ul {
    margin-top: 0.23125rem;
  }
  .head-nav svg {
    max-width: 20px;
  }
}

.main-head {
  position: fixed;
  bottom: 0;
  width: 85px;
  height: 100%;
  z-index: 1040;
  background: #f8f9fa;
  transition: width 400ms;
  border-right: 1px solid #eaeaea;
  -webkit-box-shadow: 10px 6px 12px -11px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 6px 12px -11px rgba(0,0,0,0.56);
  box-shadow: 10px 6px 12px -11px rgba(0,0,0,0.56);
}
.main-head:hover {
  width: 280px;
}
.main-head:hover + .wrap-all-the-things {
  transform: translateX(336px);
  max-width: 100%;
  opacity: 0.4;
}
.main-head:hover .head-nav li:nth-of-type(1) span {
  transition-delay: 100ms;
}
.main-head:hover .head-nav li:nth-of-type(2) span {
  transition-delay: 200ms;
}
.main-head:hover .head-nav li:nth-of-type(3) span {
  transition-delay: 300ms;
}
.main-head:hover .head-nav li:nth-of-type(4) span {
  transition-delay: 400ms;
}
.main-head:hover .head-nav span {
  text-indent: 0;
}
@media screen and (max: 768px) {
  .main-head {
    width: 70px;
    padding: 0 0.925rem;
  }
  .main-head .head-nav {
    padding-left: 7px;
  }
  .main-head:hover .head-nav span {
    text-indent: 1em;
  }
}
